@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboard-container">
    @await Html.PartialAsync("~/Views/Admin/Order/InOrder.cshtml")
</div>

